/* 구글에 검색한다 쓸 떄마다 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body,h1,h2 {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}


footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    color: #919191;
    font-size: 12px;
}

.mainbox {
    width: 610px;
    padding: 30px;
    margin: 30px;
    /* 박스 중간에 맞추는 방법 */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #919191;
    /* 0.1은 투명도 10%  */
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.name-text {
    font-size: 17px;
    color: #7c7c7c;
    font-weight: bold;
}


.title-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.about-me-text {
    font-size: 10px;
    line-height: 16px;
}

.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}
