a {
  color: inherit;
  text-decoration: inherit;
}

/* 메뉴 박스 */
.menu-box {
  text-align: center;
}

/* 메뉴 */
.menu-box > .menu {
  background-color: #afafafaf;
  display: inline-block;
  padding: 0 20px;
  border-radius: 10px;
}

/* 메뉴 아이템 */
.menu-box > .menu > .menu-item {
  display: inline-block;
}

/* 메뉴 아이템 텍스트 */
.menu-box > .menu > .menu-item > .menu-item-text {
  padding: 20px;
  display: block;
  font-weight: bold;
  letter-spacing: -1px;
  cursor: pointer;
}
.menu-box > .menu > .menu-item:hover > .menu-item-text {
  background-color: black;
  color: white;
}