a {
  color:inherit;
  text-decoration:none;
}

/* 메뉴 박스 */
nav {
  text-align:center;
}

/* 메뉴 */
nav > section {
  background-color:#afafaf;
  display:inline-block;
  padding:0 20px;
  border-radius:10px;
}

/* 메뉴 아이템 */
nav > section > div {
  display:inline-block;
  
}

/* 메뉴 아이템 텍스트 */
nav > section > div > a {
  display:block;
  padding:20px;
  font-weight:bold;
  letter-spacing: -1px;
}

/* 호버된 메뉴 아이템의 텍스트 */
nav > section > div:hover > a {
  color:white;
  background-color:black;
}